---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Hero.astro";
import Subtitle from "@components/Subtitle.astro";
import Button from "@components/Button.astro";
import Card from '@components/Card.astro';
import { getCollection } from "astro:content";
const projects = await getCollection("projects");
const lastprojects = projects.slice(0, 4);
const blogs = await getCollection("blogs");
const lastblogs = blogs.slice(0, 4);
---

<Layout title="Welcome to Astro." description="e">
	<main>
		<Hero />

		<Subtitle title="About" />
		<p>
			Welcome to my portfolio website! I am passionate about creating
			innovative solutions that solve real-world problems. My journey in
			web development has been marked by a commitment to excellence and
			continuous learning. I thrive in collaborative environments where
			creativity and technical expertise come together to build remarkable
			digital experiences.
		</p>
		<p>
			Throughout my career, I have embraced new technologies and
			methodologies to deliver high-quality products. From designing
			intuitive user interfaces to optimizing backend systems, I strive to
			achieve both aesthetic appeal and functional efficiency. I believe
			in the power of technology to transform industries and improve
			lives.
		</p>
		<Button />

		<Subtitle title="Skills" />
		<div class="skills justify-center flex">
			<img
				class="skills__img"
				width="46"
				height="46"
				alt="C#"
				src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/csharp/csharp-original.svg"
			/>
			<img
				class="skills__img"
				width="46"
				height="46"
				alt="DotNetCore"
				src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/dotnetcore/dotnetcore-original.svg"
			/>
			<img
				class="skills__img"
				width="46"
				height="46"
				alt="TypeScript"
				src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"
			/>
			<img
				class="skills__img"
				width="46"
				height="46"
				alt="Angular"
				src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg"
			/>
			<img
				class="skills__img"
				width="46"
				height="46"
				alt="Bootstrap"
				src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bootstrap/bootstrap-original.svg"
			/>
			<img
				class="skills__img"
				width="46"
				height="46"
				alt="CSS"
				src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"
			/>
			<img
				class="skills__img"
				width="46"
				height="46"
				alt="HTML"
				src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"
			/>
			<img
				class="skills__img"
				width="46"
				height="46"
				alt="JavaScript"
				src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"
			/>
			<img
				class="skills__img"
				width="46"
				height="46"
				alt="Git"
				src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"
			/>
		</div>
		<Subtitle title="Projects" />
		<ul role="list" class="grid gap-8 grid-cols-1">
			{
				lastprojects.map((project) => (
					<Card
						url={`/blogs/${project.slug}/`}
						image={project.data.image.src}
						title={project.data.title}
						body={project.data.description}
						date={project.data.date}
					/>
				))
			}
		</ul>
		<Subtitle title="blog" />
		<ul role="list" class="grid gap-8 grid-cols-1">
			{
				lastblogs.map((blog) => (
					<Card
						url={`/blogs/${blog.slug}/`}
						image={blog.data.image.src}
						title={blog.data.title}
						body={blog.data.description}
						date={blog.data.date}
					/>
				))
			}
		</ul>
	</main>
</Layout>

<style>
	p::first-letter {
		text-transform: capitalize;
		font-size: 1.5rem;
		font-weight: bold;
		color: var(--color-theme);
		padding-left: 42px;
		line-height: 1.2;
	}
</style>
