---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Hero.astro";
import Card from "@components/Card.astro";
import { getCollection } from "astro:content";
const projects = await getCollection("projects");
const lastprojects = projects.slice(0, 4);
const blogs = await getCollection("blogs");
const lastblogs = blogs.slice(0, 4);
---

<Layout title="Welcome to Astro." description="e">
	<main>
		<Hero />
		{
			projects?.length > 0 && (
				<>
					<div class="mb-14 sm:mb-16">
						<h2 class="mb-12 text-xl font-serif italic sm:mb-16 sm:text-2xl">
							Projects
						</h2>

						<ul role="list" class="grid gap-8 grid-cols-1">
							{lastprojects.map((project) => (
								<Card
									url={`/projects/${project.slug}/`}
									image={project.data.image.src}
									title={project.data.title}
									body={project.data.description}
									date={project.data.date}
								/>
							))}
						</ul>
					</div>
				</>
			)
		}
		{
			blogs?.length > 0 && (
				<>
					<div class="mb-14 sm:mb-16">
						<h2 class="mb-12 text-xl font-serif italic sm:mb-16 sm:text-2xl">
							Blogs
						</h2>
						<ul role="list" class="grid gap-8 grid-cols-1">
							{lastblogs.map((blog) => (
								<Card
									url={`/blogs/${blog.slug}/`}
									image={blog.data.image.src}
									title={blog.data.title}
									body={blog.data.description}
									date={blog.data.date}
								/>
							))}
						</ul>
					</div>
				</>
			)
		}
	</main>
</Layout>
