---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Card from "@components/Card.astro";
const blogs = await getCollection("blogs");
const pageTitle = "Blogs";
---

<Layout title={pageTitle} description="">
    <h1
        class="text-3xl leading-tight font-serif font-medium sm:text-5xl sm:leading-tight mb-10"
    >
        Blog
    </h1>
    <ul role="list" class="grid gap-8 grid-cols-1">
        {
            blogs.map((blog) => (
                <Card
                    url={`/blogs/${blog.slug}/`}
                    image={blog.data.image.src}
                    title={blog.data.title}
                    body={blog.data.description}
                    date={blog.data.date}
                />
            ))
        }
    </ul>
</Layout>
