---
import { getCollection } from "astro:content";
import Layout from '@layouts/Layout.astro';
import Card from '@components/Card.astro';
const allProjects = await getCollection("projects");
const pageTitle = "Blogs";
---

<Layout title={pageTitle}>
    <h2>Blog</h2>
    <ul role="list" class="link-card-grid">
        {allProjects.map((card) => <Card 
            url={`/projects/${card.slug}/`} 
            image={card.data.image.src} 
            title={card.data.title} 
            body={card.data.description}
        />)}
    </ul>
</Layout>

