---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Card from "@components/CardMarkdown.astro";
const projects = await getCollection("projects");
const pageTitle = "Works";
---

<Layout title={pageTitle} description="">
    <h1
        class="text-3xl leading-tight font-serif font-medium sm:text-5xl sm:leading-tight mb-10"
    >
        Projects
    </h1>
    <ul role="list" class="grid gap-8 grid-cols-1">
        {
            projects.map((project) => (
                <Card
                    url={`/projects/${project.slug}/`}
                    image={project.data.image.src}
                    title={project.data.title}
                    body={project.data.description}
                    date={project.data.date}
                />
            ))
        }
    </ul>
</Layout>
