---
// Basic Layout for All Pages
import Header from "@/components/Header.astro";
import "@/styles/global.css";

interface Props {
  title?: string;
  description?: string;
  frontmatter?: undefined;
}

const {
  title,
  description,
} = Astro.props.frontmatter || Astro.props;

const localeTitle = title 
const localeDescription = description 
---

<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>{localeTitle}</title>
    <meta name="description" content={localeDescription} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />

    <!-- icon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  
    <!-- OGP -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content={localeTitle} />
    <meta property="og:site_name" content={localeTitle} />
    <meta property="og:description" content={localeDescription} />
    <meta property="og:url" content={Astro.url} />

    <link rel="preload" as="style" fetchpriority="high" href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;800&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;800&display=swap" media="print" onload={`this.media='all'`} />

    <link rel="preload" as="style" fetchpriority="high" href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp&display=swap" media="print" onload={`this.media='all'`} />
  </head>

  <body>
    <Header />

    <main class="l-content">
      <slot />
    </main>
  </body>
</html>
